
<%- include('studentnav') -%>
<body bgcolor="black" ">
<div class="container" style="min-width: 25rem; ">
  <div
    style="white-space: pre-wrap;       /* Since CSS 2.1 */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;color:black;"
  >
<h1>Advanced Java Programming</h1>
Unit - I
J2EE Platform: Enterprise Architecture Styles, Containers and Technologies.
Servlet overview: The Java web server – your first servlet – servlet chaining – server side includes- Session management – security – HTML forms – using JDBC in servlets – applet to servlet communication.
Unit - II
Java Beans: The software component assembly model- The java beans development kit- developing beans – notable beans – using infobus - Glasgow developments - Application Builder tool- JAR files-Introspection-Bound Properties-Persistence- customizers - java beans API.
Unit - III
EJB: EJB architecture- EJB requirements – design and implementation – EJB session beans- EJB entity beans-EJB Clients – deployment tips, tricks and traps for building distributed and other systems – implementation and future directions of EJB- Variable in perl- perl control structures and operators – functions and scope.
Unit - IV
JSP: Introduction JSP-Examining MVC and JSP -JSP scripting elements & directives-Working with variables scopes-Error Pages - using Java Beans in JSP Working with Java Mail-Understanding Protocols in Javamail- Components-Javamail API-Integrating into J2EE-Understanding Java Messaging Services-Transactions.
Unit – V
JDBC : Introduction to JDBC, JDBC Drivers, Packages related to JDBC, JDBC Data Sources, Retrieving Meta Information from database and Result set, Distributed Transactions and Row Set objects, Accessing a Database through Servlets and JDBC.
<b>Text Books:
1) H. Schildt, 2002 “Java 2 Complete Reference”, 5th Edition, Tata McGraw Hill, New Delhi.
2) Subramanyan AllamRaju “Professional Java Server Programming”, J2EE 1.3 Edition, A Press Publications.



</b>
</div
  >
</div>
</body>