<%- include('studentnav') -%>
<div class="container" style="min-width: 25rem;">
    <div
      style="white-space: pre-wrap;       /* Since CSS 2.1 */
     white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
     white-space: -pre-wrap;      /* Opera 4-6 */
     white-space: -o-pre-wrap;    /* Opera 7 */
     word-wrap: break-word;"
    >
     
<h1>Artificial Neural Networks</h1>
Unit – I
3 Hours per week 3 Hours 70 Marks 30 Marks 3
Introduction to ANN - Features, structure and working of Biological Neural Network Trends in Computing Comparison of BNN and ANN.
Basics of Artificial Neural Networks - History of neural network research, characteristics of neural networks terminology, models of neuron Mc Culloch – Pitts model, Perceptron, Adaline model, Basic learning laws, Topology of neural network architecture
Unit – II
Backpropagation networks (BPN) - Architecture of feed forward network, single layer ANN, multilayer perceptron, back propagation learning, input - hidden and output layer computation, backpropagation algorithm, applications, selection of tuning parameters in BPN, Numbers of hidden nodes, learning.
Activation & Synaptic Dynamics - Introduction, Activation Dynamics models, synaptic Dynamics models, stability and convergence, recall in neural networks.
Unit – III
Basic functional units of ANN for pattern recognition tasks - Basic feedforward, Basic feed back and basic competitive learning neural network. Pattern association, pattern classification and pattern mapping tasks. Feedforward neural networks – Linear responsibility X-OR problem and solution.
- Analysis of pattern mapping networks summary of basic gradient search methods.
Feedback neural networks Pattern storage networks, stochastic networks and simulated annealing, Boltzmann machine and Boltzmann learning.
Unit – IV
Competitive learning neural networks - Components of CL network pattern clustering and feature mapping network, ART networks, Features of ART models, character recognition using ART network.
10
Unit – V
Applications of ANN - Pattern classification – Recognition of Olympic games symbols, Recognition of printed Characters. Neocognitron – Recognition of handwritten characters.
NET Talk - to convert English text to speech. Recognition of consonant vowel (CV) segments, texture classification and segmentation.
<b>Text Books:
1. B. Yegnanarayana “Artificial Neural Networks”, PHI, 2010.
2. S. Raj Sekaran , Vijayalakshmi Pari “Neural networks, Fuzzy logic and Genetic Algorithms”, 2015. Suggested Reading:
1. Simon Hhaykin “Neural Networks A comprehensive Foundations”, Pearson Education,2nd Edition 2004.
2. Li Min Fu “Neural Networks in Computer Intelligence”, TMH 2003.
3. James A Feeman David M S Kapura “Neural Networks”, Pearson Education 2004.
</b>
</div
>
</div>
    