<%- include('studentnav') -%>

<div class="container" style="min-width: 25rem;">
    <div
      style="white-space: pre-wrap;       /* Since CSS 2.1 */
     white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
     white-space: -pre-wrap;      /* Opera 4-6 */
     white-space: -o-pre-wrap;    /* Opera 7 */
     word-wrap: break-word;">

Unit - I
Data Communications: Components –Data Representation - Data Flow, Networks- Network Criteria – Physical Structure- Network Models – Categories of Networks – Internetwork, Internet, Protocols and Standards, Network models - ISO/OSI model and its layers, TCP/IP model, Addressing, Physical layer and Media – Digital to Digital conversion, Line coding, Transmission modes, Transmission Media- Guided media – Unguided media, Modem, RS232 Interfacing.
Unit-II
Data link Layer: Error detection and Correction – Block coding,Hamming code, CRC, Flow and Error control,Noiseless channels - Simple and Stop and Wait protocols, Noisy channels-Stop and Wait ARQ – Go back-N ARQ – Selective repeat ARQ – Piggybacking,HDLC.
Multiple Access: LAN-Pure and Slotted ALOHA, Ethernet IEE 802.3, IEEE 802.4,IEEE 802.5, Bridges.
Unit-III
Network Layer- Internetworks- Switching– Virtual Circuit and Datagram Network concepts, Logical Addressing, Internet Protocol. Routing – Unicast Routing Protocols - Distance Vector Routing, RIP, Link State Routing, OSPF,Path Vector Routing, BGP.
Unit-IV
Transport Layer: Services of Transport Layer, Multiplexing.
Transmission Control Protocol (TCP) – Congestion control and Quality of Services - User Datagram Protocol (UDP). Application Layer: Domain Name Space (DNS), SMTP and FTP, WWW and HTTP, Fire Walls.
UNIT-V
Socket Programming: Socket address, elementary socket system calls, advanced socket system calls, reserved ports, socket option, asynchronous I/O input/output Multiplexing out-of-band data, sockets and signals, Internet super server.
Text Books:
<b>
1. Behroz A Forouzan, “Data Communications and Networking”, 4th Edition, Tata McGraw – Hill, 2009.
2. W. Richard Stevens, "Unix Network Programming", Pearson Education Inc, PHI Learning 1990.
Suggested Reading:
1. Andrew S. Tanenbaum, “Computer Networks”, 5thEdition, Pearson Education, 2011.
</b>


      </div>
  </div>
  