<%- include('studentnav') -%>
<form action="/student/course" method="get" id="form1">
  <input type="hidden" id="hiddenvalue" name="options" value="" />
  <div class="container">
    <ul class="list-group list-group-flush">
      <a id="something" onclick="dataname('syllabus')">
        <li class="list-group-item">View Syllabus</li>
      </a>

      <a id="something" onclick="dataname('assignments')">
        <li class="list-group-item">View Assignments</li>
      </a>

      <a id="something" onclick="dataname('other_content')">
        <li class="list-group-item">Other content</li>
      </a>
    </ul>
  </div>
</form>
<script>
  function dataname(name) {
    document.getElementById("hiddenvalue").value = name;
    document.getElementById("form1").submit();
  }
</script>
