<%- include('adminnav') -%>
<br/>
<% include ./partials/messages %>

<head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
  </head>
<div class="container" >
    <form action ="/admin/events" method="post">
        <div class="form-group">
          <label for="exampleInputEmail1">Event Name</label>
          <input type="text" class="form-control" name ="eventname" id="exampleInputEmail1" aria-describedby="" placeholder="Enter event name">
          <small id="emailHelp" class="form-text text-muted">Enter the event name</small>
        </div>
        
        
          
                <div class="form-group">
                    <label for="exampleInputEmail1">Event Start Date</label>
                   <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
                        <input type="text" name = "startdate" class="form-control datetimepicker-input" data-target="#datetimepicker7"/>
                        <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            
                <div class="form-group">
                    <label for="exampleInputEmail1">Event End Date</label>
                   <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
                        <input type="text" name = "enddate" class="form-control datetimepicker-input" data-target="#datetimepicker8"/>
                        <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Enter Notes</label>
                    <textarea class="form-control" name="note"id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
        
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker7').datetimepicker();
                $('#datetimepicker8').datetimepicker({
                    useCurrent: false
                });
                $("#datetimepicker7").on("change.datetimepicker", function (e) {
                    $('#datetimepicker8').datetimepicker('minDate', e.date);
                });
                $("#datetimepicker8").on("change.datetimepicker", function (e) {
                    $('#datetimepicker7').datetimepicker('maxDate', e.date);
                });
            });
        </script>
        
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form> </div>
      <div class="container">
          Upcoming Events,
          <% if(events) {%>
          <div class="list-group">
            <%for(i=0;i<events.length;i++) {%>
               <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div >
                
                    
                    <h5 class="mb-1"><%= events[i].EventName %> </h5>
            </div>
               </div>
            <% } %>
            <% } %>
          </div>
          
          
          
              
          
      </div>