
<%- include('studentnav') -%>
<body bgcolor="black" ">
<div class="container" style="min-width: 25rem; ">
  <div
    style="white-space: pre-wrap;       /* Since CSS 2.1 */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;color:black;"
  >
    
<h1> Data WareHousing and Data Mining</h1>
Unit- I
Introduction –What is Pattern Recognition, Data sets for Pattern Recognition, Different paradigms for Pattern Recognition, Representation – Data Sets for Pattern Representation, Representation of Clusters, Proximity Measures, Size of Patterns, Abstractions of the Data Set, Feature Abstractions of the Data Set, Feature Extraction, Feature Selection, Evaluation of Classifiers, Evaluation of Clustering.
Unit – II
Nearest Neighbor Based Classifiers:Nearest Neighbor Algorithms, Variants of Nearest Neighbor Algorithms, Use of Nearest Neighbor Algorithm Transaction Databases, Efficient Algorithms, Data Reduction, Prototype Selection,
Bayes Classifiers- Bayes Theorem, Minimum Error Rate Classifier, Estimation of Probabilities, Comparison with Naive Bayes Classifier, Naive Bayes Classifier, Bayesian Belief Network.
Unit – III
Hidden Markov Model: Markov Model for Classification, HMM, Classification using HMM’s.
Decision Trees – Introduction, Decision Tree for Pattern Classification, Construction of Decision Tree, Splitting at the Nodes, Over fitting and Pruning, Example of DT Induction.
Unit – IV
Support Vector Machines – Introduction, Learning the Linear Discriminant Function, Neural Networks, SUM of Classification. Combination of Classifiers – Introduction, Methods for Constructing Ensembles of Classifiers, Methods for Combining Classifiers.
Unit – V
Clustering- Hierarchical Algorithms, Partitional Clustering, Clustering Large Data Sets.
An Application – Hand Written Digit Recognition, Description of Digit Data, Preprocessing of Data, Classification Algorithms, Selection of Representative Patterns, Results, Biometric, Facial Recognition, IRIS Scan, Finger Prints etc.
<b> Books:
1. V. Susheela Devi & M. Narasimha Murthy “Pattern Recognition – An Introduction”, 2013.
2. Rajjan Shingal “Pattern Recognition” Oxford University press., 2012.
</b>
</div
  >
</div>
</body>