<%- include('studentnav') -%>
<div class="container" style="min-width: 25rem;">
  <div
    style="white-space: pre-wrap;       /* Since CSS 2.1 */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;"
  >
 
<h1>Software Project Management</h1>
Unit-I
Software Project Management: Introduction, Importance, Software Projects Vs Other types of Projects, Contract Management, Technical Project Management, Activities covered by SPM, Plans, Methods and Methodologies. Setting Objectives, Project Success and Failures, Management and Control.
Project Evaluation and Programme Management: Project port polio management, Evaluation of Individual projects, Cost Benefit Evaluation Techniques, Risk Evaluation, Program Management, Managing the Resource with in the Program, Strategic Program Management, Aids to Program Management, Overview of Project Planning.
Unit-II
Selection of an Appropriate Project Approach: Choosing the methodologies and technologies, Software process and process models.
Software Effort Estimation: Problems with Over and Underestimates, Software Effort Estimation Techniques. Function Point Analysis. A Parametric Productive Model – COCOMO-2
Activity Planning: Objectives of Activity Planning, Schedules, Activities, Sequencing, Network Planning Models.
Unit-III
Risk Management : Categories of Risk, A Frame work with Dealing with Risk, Evaluating Risk with the Schedule.
Resource Allocation: Nature of Resource, Identify Resource Requirements, Scheduling, Creating Critical path, Cost Schedules, Scheduling Sequence.
Monitoring & Control: Creating Framework, Collecting Data, Project Termination Review, Visualizing Progress, Cost Monitoring, Prioritizing Monitoring, Change Control, Software Configuration Management.
Unit-IV
Managing Contracts: Types of Contracts, Stages in Contract Placement, Typical Terms of Contracts, Contract Management Acceptance.
Managing People in Software Environments: Organizational behavior, selecting the Right person for the Job, Instruction in the best methods, Motivations, the Oldham-hackman Job characteristics model, Stress, Health and Safety, Some Ethical and Professional concerns.
Working in Teams: Becoming a Team, Decision making, Organization and Team Structures, Coordination of dependencies, Communication genres, Communication plans, Leadership.
Unit –V
Software Quality : The Place of Software Quality in Project planning, Quality Management Systems, Process Capability models, Software Reliability Quality plans,
ISO : ISO – 9126, Product and Process Metrics
An Overview of PRINCE 2 : Components of Prince 2.
<b>
Text Book:
1. Bob Hughes and Mike Cotterell “Software Project Management”, 5th Edition, Tata McGraw Hill, 2010.
Suggested Reading:
1. Walker Rayce “Software Project Management: A Unified Framework”, Addison Wesley, 1998.
2. Watts S. Humphrey “Managing Software Process”, Addison – Wesley Pearson Education, 1998.
</b>
</div
>
</div>