<%- include('studentnav') -%>


  
<div class="container" >
    <form action="/student/course" method="get" id="form1">
        <input type="hidden" id="hiddenvalue" name="coursename" value="" />
    <div class="card w-75" style="min-width:23rem; background-image:url('ann.jpeg');background-size: cover;color:white" >
        <div class="card-body">
          <h5 class="card-title">Artificial Neural Networks</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a onclick="dataname('ann-syllabus')" class="btn btn-outline-dark">View Syllabus</a><br>
          <a onclick="dataname('ann-assignments')" class="btn btn-outline-dark">View Assignments</a><br>
          <a onclick="dataname('ann-othercontent')" class="btn btn-outline-dark">Other content</a>
        </div>
      </div>
      </form>
      <br/>

      <form action="/student/course" method="get" id="form1">
        <input type="hidden" id="hiddenvalue" name="coursename" value="" />
      <div class="card w-75" style="min-width:23rem;background-image:url('black.jpeg');background-size: cover;color:white" >
        <div class="card-body">
          <h5 class="card-title">Computer Networks</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a onclick="dataname('cn-syllabus')" class="btn btn-outline-dark">View Syllabus</a><br>
          <a onclick="dataname('cn-assignments')" class="btn btn-outline-dark">View Assignments</a><br>
          <a onclick="dataname('cn-othercontent')" class="btn btn-outline-dark">Other content</a>
        </div>
      </div></form>
      <br/>


      <form action="/student/course" method="get" id="form1">
        <input type="hidden" id="hiddenvalue" name="coursename" value="" />
      <div class="card w-75" style="min-width:23rem;background-image:url('spm.jpg');background-size: cover;color:black" >
        <div class="card-body">
          <h5 class="card-title">Software Project Management</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a onclick="dataname('spm-syllabus')" class="btn btn-outline-dark">View Syllabus</a><br>
          <a onclick="dataname('spm-assignments')" class="btn btn-outline-dark">View Assignments</a><br>
          <a onclick="dataname('spm-othercontent')" class="btn btn-outline-dark">Other content</a>
        </div>
      </div></form> <br/>

      <form action="/student/course" method="get" id="form1">
        <input type="hidden" id="hiddenvalue" name="coursename" value="" />
      <div class="card w-75" style="min-width:23rem;background-image:url('dwdm.jpg');background-size: cover;color:white" >
        <div class="card-body">
          <h5 class="card-title">Datawarehousing & Mining</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a onclick="dataname('dwm-syllabus')" class="btn btn-outline-dark">View Syllabus</a><br>
          <a onclick="dataname('dwm-assignments')" class="btn btn-outline-dark">View Assignments</a><br>
          <a onclick="dataname('dwm-othercontent')" class="btn btn-outline-dark">Other content</a>
        </div>
      </div></form> <br/>
                
      <form action="/student/course" method="get" id="form1">
        <input type="hidden" id="hiddenvalue" name="coursename" value="" />
      <div class="card w-75" style="min-width:23rem;background-image:url('ajp.jpeg');background-size: cover;color:black" >
        <div class="card-body">
          <h5 class="card-title">Advanced Java Programming</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a onclick="dataname('ajp-syllabus')" class="btn btn-outline-dark">View Syllabus</a><br>
          <a onclick="dataname('ajp-assignments')" class="btn btn-outline-dark">View Assignments</a><br>
          <a onclick="dataname('ajp-othercontent')" class="btn btn-outline-dark">Other content</a>
        </div>
      </div></form> <br/>
                
     

        

<br/>
    </div>
    <script>
        function dataname(name) {
          document.getElementById("hiddenvalue").value = name;
          document.getElementById("form1").submit();
        }
      </script>
  </form>
  

