<h1 class="mt-4">Teacher's Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %>,</p>
<% include ./partials/messages %>
<div class="container">
<form action="/teacher/dashboard" method="POST">
<div class="form-group">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
    </div>
    <input type="text" name = "title" class="form-control" aria-label="Title" aria-describedby="inputGroup-sizing-default">
  </div>
    
  <div class="input-group height = "50rem"">
    <div class="input-group-prepend">
      <span class="input-group-text head ">Post</span>
    </div>
    <textarea class="form-control" aria-label="With textarea" name = "post"></textarea>
  </div>
    <br>


    <p class="lead mb-3">Select Priority</p>
    <div class="form-check">
      
       <div> <input class="form-check-input" type="radio" name = "postcolor" value = "card text-white bg-secondary mb-3"> <span class="badge badge-secondary">secondary</span></div>
       <div> <input class="form-check-input" type="radio" name = "postcolor" value = "card text-white bg-success mb-3"> <span class="badge badge-success">success</span></div>
       <div> <input class="form-check-input" type="radio" name = "postcolor" value = "card text-white bg-danger mb-3"> <span class="badge badge-danger">danger</span></div>
      </div>

      <br/>

    <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </div>


  <a href = "/teacher/posts" class = "btn-primary">My Posts</a>
<br/>  
  <a href="/users/logout" class="btn btn-secondary">Logout</a>
 

</form>

</div>
