<%- include('tnavlayout') -%>
<div class="container">
    <p class="lead mb-3">Welcome
        <%= user.name %>,</p>
    <% include ./partials/messages %>

    <form action="/teacher/dashboard" method="POST">
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
                </div>
                <input aria-describedby="inputGroup-sizing-default" aria-label="Title" class="form-control" name="title" type="text"></div>

                <div "" 50rem""="50rem" class="input-group height = ">
                    <div class="input-group-prepend">
                        <span class="input-group-text head ">Post</span>
                    </div>
                    <textarea aria-label="With textarea" class="form-control" name="post"></textarea>
                </div>
                <br>


                    <p class="lead mb-3">Select Priority</p>
                    <div class="form-check">

                            <div>
                                <input class="form-check-input" name="postcolor" type="radio" value="card text-white bg-primary mb-3">
                                <span class="badge badge-primary mb-1">Primary</span>
                            </div>


                            <div>
                                <input class="form-check-input" name="postcolor" type="radio" value="card text-white bg-primary mb-3">
                                <span class="badge badge-secondary mb-1">secondary</span>
                            </div>

                            <div>
                                <input class="form-check-input" name="postcolor" type="radio" value="card text-white bg-success mb-3">
                                <span class="badge badge-success">success</span>
                            </div>

                            <div>
                                <input class="form-check-input" name="postcolor" type="radio" value="card border-success">
                                <span class="badge badge-success">success lite</span>
                            </div>

                            <div>
                                <input class="form-check-input" name="postcolor" type="radio" value="card text-white bg-warning mb-3">
                                <span class="badge badge-warning">warning</span>
                            </div>

                            <div>
                                <input class="form-check-input" name="postcolor" type="radio" value="card text-white bg-info mb-3">
                                <span class="badge badge-info">info</span>
                            </div>

                            <div>
                                <input class="form-check-input" name="postcolor" type="radio" value="card text-white bg-danger mb-3">
                                <span class="badge badge-danger">danger</span>
                            </div>

                            <div>
                                <input class="form-check-input" name="postcolor" type="radio" value="card border-danger">
                                <span class="badge badge-danger">danger lite</span>
                            </div>

                                <br/>

                                <button class="btn btn-primary btn-block" type="submit">Submit</button>
                            </div>


                            <br/>


                        </form>

                    </div>
