<%-include('adminnav') -%>
<div class="container">
    <form action = "/admin/viewteachers" method = "post">
        <br/>
    <% if(teacher.length>0) {%>
        <div class="form-check" style="max-width: 25rem;">
            <ul class="list-group">
        <% for(i=0;i<teacher.length;i++){ %>
            
        
    
  <input class="form-check-input" type="checkbox" value="<%=teacher[i]._id %>" name="userid">
  <li class="list-group-item "><%=teacher[i].name %></li>
  <br>
</ul>
  

<% } %>
</div>
  <% } %>
<button type="submit" class="btn btn-secondary">Submit</button>
    </form>
    
</div>   


